/* -------------------------------- */
/*            Main Selectors        */
/* -------------------------------- */
/* Used in: all pages */

html {
  transition: 0s, color 0s;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
}

main {
  padding: 10px;
  padding-top: 66px;
  flex: 1;
}

footer {
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
  color: white;
  text-align: center;
  box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

footer p {
  margin: 0;
  color: #666;
  font-size: 0.9em;
  padding: 3.5em 20px 20px;
}


/* -------------------------------- */
/*            Navigation Top        */
/* -------------------------------- */
/* Used in: all pages */

.nav-top {
  position: fixed;
  width: 100%;
  margin-bottom: 100px;
}


.nav-logo {
  height: 40px;
  margin-right: 10px;
}

.nav-brand {
  display: flex;
  align-items: center;
}
.nav-brand a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.nav-brand a:hover {
  color: #444;
}

/* -------------------------------- */
/*        Theme Toggle Button       */
/* -------------------------------- */
/* Used in: all pages */

.icon {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  border: 0;
}


.theme-toggle {
  margin: 0 20px 0 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: #333;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.theme-toggle:active {
  transform: rotate(20deg);
}

/* -------------------------------- */
/*            Navigation Links      */
/* -------------------------------- */
/* Used in: all pages */

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 40px;
}

.nav-links li {
  float: left;
}

.nav-links a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}


.nav-links a:hover {
  background-color: #ddd;
  color: black;
}

/* -------------------------------- */
/*            Navigation Side       */
/* -------------------------------- */
/* Used in: all pages */



.nav-side {
  padding: 10px;
  height: auto;
  width: 200px;
  position: fixed;
  top: 66px;
  left: 0;
  background-color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.nav-side ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-side a {
  padding: 10px 15px;
  
  font-size: 18px;
  color: #333;
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  border-left: 4px solid transparent;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.nav-side a img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.nav-side a:hover {
  background-color: #ddd;
  color: black;
}

.nav-side-logo {
  display: block;
  height: 30px;
  margin-left: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* -------------------------------- */
/*            Sections              */
/* -------------------------------- */
/* Used in: about.html, pancakes.html */

section {
  margin-top: 10px;
  margin-left: 230px;
  margin-right: 220px;
  padding: 10px;
}

/* -------------------------------- */
/*            Welcome Section       */
/* -------------------------------- */
/* Used in: about.html */

.welcome-section {
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;

  background-image: url('/src/assets/cards/background.jpg');
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding-left: 50px;
}

.welcome-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.welcome-section p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #f0f0f0;
}

.welcome-section img {
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
.cards-section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* -------------------------------- */
/*         Info Section            */
/* -------------------------------- */
/* Used in: about.html */

.info-section {
  text-align: center;
  background-color: f1f1f1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.info-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.info-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
}
.info-section li {
  font-size: 1.2em;
  margin: 5px 0;
}

/* -------------------------------- */
/*         Credits Section          */
/* -------------------------------- */
/* Used in: about.html */

.credits-section {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.credits-section h2 {
    color: #333;
    margin-bottom: 15px;
}

.credits-section ul {
    list-style-type: none;
    padding: 0;
}

.credits-section li {
    margin: 10px 0;
}

.credits-section a {
    color: #426B1F;
    text-decoration: none;
}

.credits-section a:hover {
    text-decoration: underline;
}

/* -------------------------------- */
/*            Card Styles           */
/* -------------------------------- */
/* Used in: pancakes.html */

.card-sheet {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-radius: 10px;
}

.card {
  width: 395px;
  height: auto;
  border-radius: 15px;
  
  background-color: #FAFAF5;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
}

.card .recipe-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin: 0;
  padding: 0;
}

.container {
  padding: 10px;
}


.container h4, .recipe-title {
  text-align: left;
  cursor: default;
}

.container h4:hover, .recipe-title:hover {
  color: #777;
}

.container p, .recipe-description {
  text-align: left;
  color: #666;
  font-size: 0.9em;
  cursor: default;
}

/* -------------------------------- */
/*         Recipe Details          */
/* -------------------------------- */
/* Used in: pancakes.html */

.recipe-details{
  color:#666;
  list-style-type: none;
  align-items: center;
  align-content: right;
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

.recipe-details .first-ul {
  margin-left: 20px
}

.recipe-details .icon {
  opacity: 0.6;
}

/* -------------------------------- */
/*         Buttons                 */
/* -------------------------------- */
/* Used in: pancakes.html */

.view-recipe-button, .selection button {
  background-color: #426B1F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-recipe-button:hover, .selection button:hover {
  background-color: #365917;
}

#price {
  color: #426B1F;
  font-weight: bold;
  font-size: 1.2em;
}

/* -------------------------------- */
/*         Dark Theme Styles        */
/* -------------------------------- */
/* Used in: all pages */

html.dark-theme,
.dark-theme {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  --element-hover: #333333;
  --card-bg: #222222;
  --card-border: #333;
  --header-bg: #222222;

  transition: background-color 0.3s, color 0.3s;

  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-theme main {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-theme .icon {
  filter: invert(1);
}

.dark-theme .nav-top {
  background-color: var(--header-bg);
}

.dark-theme .nav-top a:hover{
  color: var(--text-color);
  background-color: var(--element-hover);
}

.dark-theme .nav-brand a:hover {
  color: #666;
  background-color: var(--header-bg);
}

.dark-theme .nav-side {
  background-color: var(--header-bg);
}

.dark-theme .nav-side a:hover {
  background-color: var(--element-hover);
  color: var(--text-color);
}

.dark-theme section {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-theme .card {
  background-color: var(--card-bg);
  border-color: var(--card-border);
}

.dark-theme .recipe-details .icon {
  opacity: 0.2;
}

.dark-theme .recipe-title {
  color: var(--text-color);
}

.dark-theme .recipe-title:hover{
  color: #777;
}

.dark-theme a {
  color: var(--text-color);
}

.dark-theme footer {
  background-color: var(--header-bg);
  color: var(--text-color);
}

/* -------------------------------- */
/*         Media Queries            */
/* -------------------------------- */
/* Used in: all pages */

@media (max-width: 1280px) {
  body {
    width: 100%;
    max-width: 100%;
  }

  section {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
    
  .welcome-section {
    padding-left: 20px;
  }
  
  .welcome-section h1 {
    font-size: 1.5em;
  }

  .recipe-details {
    padding: 0 0 0 0 !important;
  }

  .recipe-details .first-ul {
    margin-left: 0px;
  }

  .nav-side {
    display: none
  }

  .nav-links {
    display: flex;
  }

}

